*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;  /* Body ocupando 100% da tela */
}

#menu_lateral{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 40px 1%;
    box-shadow: 5px 0 0 rgb(184, 23, 23);
    /* Se o body for maior que a tela usar essas config: */
    /* position: fixed; O menu ficará fixo */
    /* top: 0; Posição do menu */
    /* left: 0; Posção do menu */
    transition: 1s;
}

#btn-expandir{
    width: 100%;
    padding-left: 10px;
}

#btn-expandir i{
    color: white;
    font-size: 25pt;
    cursor: pointer;  /* Quando o curso passar em cima de um elemento ele muda seu estado  */
}

ul{
    height: 100%;
    list-style-type: none;
}

.item_menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 18px;
    line-height: 40px;  /* Altura da linha */
    overflow: hidden; /* Esconde os titulos */
} 

.item_menu a .text-link{
    margin-left: 32px;
}

.item_menu a .icone{
    font-size: 25px;
    margin-left: 12px;
}

.item_menu:hover{
    background-color: crimson;
}

.item_menu{
    transition: 0.5s;
}




